body {
  margin: 2em;
  font-family: "Roboto", sans-serif;
  background-color: #333; /* Charcoal background color */
  padding: 0px;
  margin: 0px;
}

h3 {
  text-align: center;
  color: #fff;
}

.process-bubble {
  background: #cad38f;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0.1em;
  padding: 0.4em 0.8em 0.4em 0.9em;
  position: relative;
  text-align: left;
  vertical-align: top;
  min-width: 20em;
  max-width: 75%;
  border-radius: 1.3em;
  margin-bottom: 1.2em;
  display: inline-block;
}
.process-bubble.fail {
  background: #591313;
  text-emphasis-style: bold;
  color: #fff;
}
.process-bubble.pass {
  background: #055813;
  text-emphasis-style: bold;
  color: #fff;
}
.speech-bubble {
  background: #dfdfdf;
  display: inline-block;
  font-size: 14px;
  line-height: 1.4em;
  margin: 0.1em;
  padding: 0.4em 0.8em 0.4em 0.9em;
  position: relative;
  text-align: left;
  vertical-align: top;
  min-width: 2em;
  max-width: 65%;
  border-radius: 1.3em;
}
.speech-bubble.now {
  margin-bottom: 1.2em;
}
.speech-bubble.now::after {
  content: "";
  position: absolute;
  bottom: -10px;
  border-width: 6px 6px 6px 6px;
  border-style: solid;
  border-color: transparent;
  border-top-color: #dfdfdf;
  border-left-color: #dfdfdf;
  display: block;
  width: 0;
}

.speech-bubble.me {
  margin-left: auto;
  margin-right: 0px;
  background: #2796fd;
  color: #fff;
}

.speech-bubble.me.now:after {
  border-color: transparent;
  border-top-color: #2796fd;
  border-right-color: #2796fd;
  right: 10px;
  bottom: -10px;
}

.chat {
  position: relative;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 45%;
  min-width: 200px;
  max-width: 900px;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  background: rgba(255, 255, 255, 0.9); /* White background with 0.8 opacity */
  padding-left: 0.5em;
  padding-right: 0.7em;
  padding-bottom: 0.7em;
  padding-top: 0.3em;
  border: 1px solid #333;
  border-radius: 8px; /* Rounded corners */
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu;
}
.microphone-box {
  position: fixed;
  top: 3em;
  right: 3em;
  width: 100px;
  height: 100px;
  background-color: white;
  border-radius: 10px;
  opacity: 0.7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  display: none;
}

.microphone-icon {
  max-width: 75%;
  max-height: 75%;
}

.form-container {
  position: fixed;
  top: 3em;
  left: 3em;
  width: 500px;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  opacity: 0.6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 1em;
}

#settings-form div {
  margin-bottom: 1em;
}

#settings-form label {
  display: inline-block;
  width: 100px;
}
